{% extends "base.html" %}
{% load static %}

{% block title %}Change your password{% endblock %}

{% block password_change_form_css %}
<link rel="stylesheet" href="{% static 'css/password_change_form.css' %}">
{% endblock %}

{% block content %}
<div class="password-change-container">
    <div class="password-change-card">
        <h2 class="password-change-heading">Change Your Password</h2>
        <form method="post">
            {{ form.as_p }}
            <input type="submit" value="Change Password" class="password-change-button">
            {% csrf_token %}
        </form>
    </div>
</div>
{% endblock %}