{% extends "base.html" %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="profile-page-container">

    <!-- Sidebar -->
    <div class="profile-sidebar">
        <div class="profile-picture">
            {% if request.user.userprofile.photo %}
            <img src="{{ request.user.userprofile.photo.url }}" class="profile-photo">
            {% else %}
            <img src="{% static 'images/default_user_profile.webp' %}" class="profile-photo">
            {% endif %}
        </div>
        <h2>{{ request.user.username }}</h2>
        <p><i class="fa fa-envelope"></i> {{ request.user.email }}</p>
        <p><i class="fa fa-calendar"></i> Joined on {{ request.user.date_joined|date:"F j, Y" }}</p>

        <div class="profile-stats">
            <p class="profile-stats-posts"><strong>Posts:</strong> {{ request.user.posts.count }}</p>
            <p class="profile-stats-followers"><strong>Followers:</strong> {{ request.user.followers.count }}</p>
            <p class="profile-stats-following" data-count="{{ request.user.following.count }}"><strong>Following:</strong> {{ request.user.following.count }}</p>
        </div>

        <div class="profile-actions">
            <a href="{% url 'edit' %}" class="profile-btn">Edit Profile</a>
            {% if user.has_usable_password %}
            <a href="{% url 'password_change' %}" class="profile-btn">Change Password</a>
            {% else %}
            <a href="{% url 'set_password' %}" class="profile-btn">Set Password</a>
            {% endif %}
        </div>
    </div>

    <!-- Main Content -->
    <div class="profile-content">
        <div class="profile-tab-bar">
            <div class="posts-followers-following">
                <a href="?tab=posts"
                    class="profile-tab {% if tab == 'posts' or not tab %}profile-active{% endif %}">Posts</a>
                <a href="?tab=followers"
                    class="profile-tab {% if tab == 'followers' %}profile-active{% endif %}">Followers</a>
                <a href="?tab=following"
                    class="profile-tab {% if tab == 'following' %}profile-active{% endif %}">Following</a>
            </div>

            <!-- Create Post Button -->
            <div class="create-post-btn-div">
                <a href="{% url 'post:create' %}" class="create-post-btn">➕ Create Post</a>
            </div>
        </div>


        <div class="profile-tab-content">
            {% if tab == 'followers' %}
            {% include "account/profile/profile_followers.html" %}
            {% elif tab == 'following' %}
            {% include "account/profile/profile_following.html" %}
            {% else %}
            {% include "account/profile/profile_posts.html" %}
            {% endif %}
        </div>
    </div>

</div>
{% endblock %}


{% block domready %}
const url = '{% url "user_follow_unfollow" %}';
var options = {
    method: 'POST',
    headers: { 'X-CSRFToken': csrftoken },
    mode: 'same-origin'
};

// Select ALL follow/unfollow buttons
document.querySelectorAll('a.follower-following-btn').forEach(button => {
    button.addEventListener('click', function (e) {
        e.preventDefault();
        var followUnfollowButton = this;

        // Add request body
        var formData = new FormData();
        formData.append('id', followUnfollowButton.dataset.id);
        formData.append('action', followUnfollowButton.dataset.action);
        options['body'] = formData;

        // Send HTTP request
        fetch(url, options)
            .then(response => response.json())
            .then(data => {
                if (data['status'] === 'ok') {
                    var previousAction = followUnfollowButton.dataset.action;
                    var action = previousAction === 'follow' ? 'unfollow' : 'follow';

                    // Update button dataset
                    followUnfollowButton.dataset.action = action;

                    // Update button text + class
                    if (action === 'follow') {
                        followUnfollowButton.textContent = 'Follow';
                        followUnfollowButton.classList.remove('following');
                        followUnfollowButton.classList.add('follow');
                    } else {
                        followUnfollowButton.textContent = 'Following';
                        followUnfollowButton.classList.remove('follow');
                        followUnfollowButton.classList.add('following');
                    }

                    // Update following count in sidebar
                    var followingP = document.querySelector('p.profile-stats-following');
                    var totalFollowing = parseInt(followingP.dataset.count);
                    totalFollowing = previousAction === 'follow' ? totalFollowing + 1 : totalFollowing - 1;
                    followingP.dataset.count = totalFollowing;
                    followingP.innerHTML = `<strong>Following:</strong> ${totalFollowing}`;
                }
            });
    });
});
{% endblock %}
